name: EC2 auto deploy

on:
  pull_request:
    branches: [ master ]
    types: [ closed ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Public IP Install
        id: ip
        run: |
          PUBLIC_IP=$(curl -s https://ifconfig.me)
          echo "ipv4=$PUBLIC_IP" >> $GITHUB_OUTPUT

      - name: Checkout
        uses: actions/checkout@v2

      - name: AWS CLI install
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws --version

      - name: AWS set Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Write SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Authorize Security Group Ingress
        run: |
          aws ec2 authorize-security-group-ingress --group-id ${{ secrets.EC2_SECURITY_GROUP_ID }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
          echo "Waiting for security group rule to apply..."
          sleep 5

      - name: Deploy
        run: |
          # SSH接続とリモートでのコマンド実行
          ssh -oStrictHostKeyChecking=no ${{ secrets.A_USER_NAME }}@${{ secrets.HOST_NAME }} "mkdir -p ~/.ssh && ssh-keyscan github.com >> ~/.ssh/known_hosts && if [ ! -d /home/${{ secrets.A_USER_NAME }}/test/.git ]; then GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519' git clone --depth 1 git@github.com:sui-guest-ix/test-sui.git /home/${{ secrets.A_USER_NAME }}/test; else cd /home/${{ secrets.A_USER_NAME }}/test && GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519' git fetch --prune && git checkout master && git pull origin master; fi"

      - name: Revoke Security Group
        if: always()
        run: |
          aws ec2 revoke-security-group-ingress --group-id ${{ secrets.EC2_SECURITY_GROUP_ID }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
