name: EC2 auto deploy

on:
 pull_request:
   branches: [ main ]
   types: [closed]

 workflow_dispatch:

jobs:
 build:
   runs-on: ubuntu-latest
   steps:

     # Githubサーバを信頼できるものとして認識する
     - name: Add GitHub to known hosts
       run: |
         mkdir -p ~/.ssh
         ssh-keyscan github.com >> ~/.ssh/known_hosts
         chmod 600 ~/.ssh/known_hosts

     # IP取得ライブラリをインストール
     - name: Public IP Install
       id: ip
       run: |
         PUBLIC_IP=$(curl -s https://ifconfig.me)
         echo "ipv4=$PUBLIC_IP" >> $GITHUB_OUTPUT

     # BranchをCheckout
     - name: Checkout
       uses: actions/checkout@v2

     # AWS CLIをインストールする
     - name: AWS CLI install
       run: |
         curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
         unzip awscliv2.zip
         sudo ./aws/install --update
         aws --version

     # AWS CLIにキーを設定をする
     - name: AWS set Credentials
       uses: aws-actions/configure-aws-credentials@v1
       with:
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-region: ap-northeast-1

     # SSHエージェントをセットアップし、秘密鍵を追加する
     - name: Setup SSH agent
       uses: webfactory/ssh-agent@v0.8.0
       with:
         ssh-private-key: ${{ secrets.PRIVATE_KEY }}

     # デプロイする
     - name: Deploy
       run: |

         # SSHのセキュリティグループを開放する
         aws ec2 authorize-security-group-ingress --group-id ${{ secrets.EC2_SECURITY_GROUP_ID }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
         echo "Waiting for security group rule to apply..."
         sleep 5

         # SSH接続して、git pullする
         ssh -oStrictHostKeyChecking=no ${{ secrets.USER_NAME }}@${{ secrets.HOST_NAME }} "mkdir -p ~/.ssh && ssh-keyscan github.com >> ~/.ssh/known_hosts && if [ ! -d /home/${{ secrets.USER_NAME }}/test/.git ]; then GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519' git clone --depth 1 git@github.com:sui-guest-ix/test-sui.git /home/${{ secrets.USER_NAME }}/test; else cd /home/${{ secrets.USER_NAME }}/test && GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519' git fetch --prune && git checkout main && git pull origin main; fi"
         aws ec2 revoke-security-group-ingress --group-id ${{ secrets.EC2_SECURITY_GROUP_ID }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
